<div class="dashboard-container">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <div class="logo">
      <h2>H+ Medical</h2>
      <span>Moscatti Hospital</span>
    </div>

    <nav>
      <a class="active">Dashboard</a>
      <a>Patients</a>
      <a>Schedule</a>
      <a>Records</a>
      <a>Reports</a>
      <a>Settings</a>
    </nav>

    <button mat-raised-button color="warn" (click)="logout()" class="logout-btn">
      Cerrar sesión
    </button>
  </aside>


  <!-- CONTENIDO -->
  <main class="content">

    <!-- HEADER -->
    <header class="header">
      <input type="text" placeholder="Buscar paciente..." />
      <div class="user-info">
        <span>Good Morning, Dr. Moscatti</span>
      </div>
    </header>


    <!-- TARJETAS -->
    <section class="stats">

      <div class="card">
        <p>ACTIVE PATIENTS</p>
        <h2>24</h2>
      </div>

      <div class="card">
        <p>CONSULTS DONE</p>
        <h2>12</h2>
      </div>

      <div class="card">
        <p>BED OCCUPANCY</p>
        <h2>88%</h2>
      </div>

      <div class="card">
        <p>AVG WAIT TIME</p>
        <h2>15 min</h2>
      </div>

    </section>


    <!-- TABLA + ALERTAS -->
    <section class="main-grid">

      <!-- PACIENTES -->
      <div class="patients">
        <h3>Today’s Patients</h3>

        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Hora</th>
              <th>Departamento</th>
              <th>Estado</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>Jane Doe</td>
              <td>09:30 AM</td>
              <td>Cardiology</td>
              <td class="checked">Checked In</td>
            </tr>

            <tr>
              <td>Robert Smith</td>
              <td>10:15 AM</td>
              <td>Cardiology</td>
              <td class="progress">In Progress</td>
            </tr>

            <tr>
              <td>Maria Lopez</td>
              <td>11:00 AM</td>
              <td>Cardiology</td>
              <td class="pending">Pending</td>
            </tr>
          </tbody>
        </table>
      </div>


      <!-- ALERTAS -->
      <div class="alerts">
        <h3>Urgent Medical Alerts</h3>

        <div class="alert critical">
          Lab Results Ready - Patient #882
        </div>

        <div class="alert warning">
          ER Admission: Cardiac Unit
        </div>

      </div>

    </section>

  </main>

</div>
